
body {
    background-color: #230042;
}

h1, h2, h3, h4, h5, p{
    color: #aa58a2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align : center;
}

h1 {
    color:#f5eefe;
}

h2, h3, h4, h5 {
    color:#aa58a2;
}

p {
    color : #aa58a2;
}

h2, h3, h5, p {
    text-align:start;
}

h4 {
    border:#230042 1px solid;
    background-color: #230042;
    color:#f5eefe;
    min-height:25px;
    padding: 10px;
    border-radius:10px;
}

#sentence-list {    color: #aa58a2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:25px;
}

main {
    background-color: #f5eefe;
    margin:10px;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.descrip {
    margin-bottom:25px;
    max-width:1000px;
}

.generator {
    background-color: #482158;
    padding:10px;
    border-radius: 10px;
    align-self:flex-end;
    flex-grow:1;
    margin-top:50px;
}

#gen-text {
    color:#f5eefe;
}

button {
    display:block; 
    margin: 0 auto;
    font-size: 20px;
    color: #f5eefe;
    border: 0px solid #f5eefe;
    background-color: #aa58a2;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px #230042;
}

button:hover {
    opacity: 70%;
}

/*remove this after JS complete*/
#form-generator {
    visibility: hidden;
    position:absolute;
}

input[type=text] {
    margin-bottom:15px;
    border-radius:5px;
    border: solid 1px #230042;
    background-color: #f5eefe;
  }

input[type=submit] {
    border: 0px solid #f5eefe;
    background-color: #aa58a2;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 5px 5px #230042;
    border: none;
    cursor: pointer;
    margin-top:10px;
  }